
  /* Apply general styles for printing */
  @media print {
     /* Hide the footer content */

    @page {
      size: A4; /* Set the page size */
      margin-bottom: 0px;
    }

    /* Adjust page margins and layout for printing */
    body {
      font-size: 18px;
      margin: 0px;
      transform: scale(0.8); /* Adjust the scaling factor as needed */
    }
    /* Hide the footer content */
      footer {
        display: none;
        position: fixed;
        bottom: 0;
      }
    /* Add any other print-specific styles you need */
  }

  /* Example to force a page break before a specific element */
.print-break {
  page-break-before: always;
}
  